* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: row ;
    background: 1px solid #4CAF50;
}

.header-title {
    padding: 10px;
}

nav {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 22px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.main-section {
    width: 500px;
    background-color: #fff;  
    padding: 40px 60px;      
    border-radius: 12px;     
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    max-width: 700px;        
    text-align: center;   
    margin-top: 80px;   
}

.main-section.width {
    width: 1000px;
}

.main-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.main-section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}


.main-section form {
    display: flex;
    flex-direction: column;
}

.width {
    width: 400px;
}

.main-section label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 0.95em;
}

.main-section input {
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s;
}

.main-section input:focus {
    border-color: #007bff; 
    outline: none;
}


.main-section button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-section button:hover {
    background-color: #0056b3;
}

.g-recaptcha {
    padding: 10px;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.error-messages  {
    background-color: #ffe0e0;
    color: #d8000c;
    border: 1px solid #d8000c;
}

.success-messages {
    background-color: #e0ffe0;
    color: #4f8a10;
    border: 1px solid #4f8a10;
}

footer {
    position: fixed;      
    bottom: 0;            
    left: 0;
    width: 100%;          
    background-color: #222; 
    color: #fff;          
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
    z-index: 1000;         
}


.footer-container {
    display: flex;
    justify-content: space-between; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer-links a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #4CAF50; 
}